<h2>Here is you grid</h2>
<%= @grid %>

<h1>Your turn</h1>

<form action="answer" method="get">
  <input type="text" name="word" placeholder="your turn">
  <input type="submit" value= "Go!">
</form>

