<div class="container">
  <div class="game-container">
    <h2> Welcome to the longest word-game !</h2>
    <h3>How many letter do you want in your grid?</h3>
    <form id="number" action="game" method="get">
      <label for="number">Put your number here</label>
      <div>
        <input class="for_input" type="number" placeholder="6" name="query" >
        <input class="btn" type="submit" value= "Play">
      </div>
    </form>
  </div>
</div>
